.Sort {display: none;flex-direction: row;justify-content: center; align-items: center;position: absolute;top: 38px;left: 42%;}
.sort-card{display: flex;flex-direction: column;height: 300px; width: 310px !important; border-radius: 10px;padding: 10px;border: 1px solid white; background-color: #161515 !important;}
.sort-container{display: flex;flex-direction: column;align-items: center;margin: 10px;}
.label-container{display: flex;flex-direction: column;justify-content: center;margin: 10px;}
.label-container .label{line-height: 34px !important;display: flex;}
.label-container .sort-radio{display: flex;flex-direction: row;height: 34px !important;align-items: center;}
.label-container .sort-radio .sort{margin-right: 10px;}
.label-container .sort-radio .label_1{margin-right: 10px;}
.label-container .sort-radio .label_2{margin-right: 10px;}
.footer-actions{display: flex;flex-direction: row-reverse; align-items: flex-end;}